In [2]:
from sqlalchemy import *
import sqlalchemy as sa
from sqlalchemy.exc import SQLAlchemyError
import pandas as pd
import json
import re
from datetime import datetime
import json

# Data profiling: List All Tables

In [3]:
##Function
def get_engine(url):
    try:
        engine=create_engine(url, future=True)
        return engine
    except SQLAlchemyError as m:
        print (f"Error Connection: {m}")
def get_table_names(engine):
    try:
        conn=engine.connect()
        meta = MetaData()
        meta.reflect(bind=engine)
        list_tables=list(meta.tables.keys())
        return list_tables
    except:
        print ("Check your connection to db!")

In [5]:
##Test Function
url=f'postgresql://postgres:pw123@localhost:5532/paccafe'
engine=get_engine(url)
table_names=get_table_names(engine)
print(table_names)

['products', 'inventory_tracking', 'orders', 'customers', 'employees', 'order_details']

# Data profiling: Extract Data

In [10]:
def extract_data(table_names:list):
    conn=engine.connect()
    extracted_data={}
    for table_name in table_names:
        conn=engine.connect()
        df=pd.read_sql_query(f"Select * from {table_name}", con=conn.connection)
        extracted_data.update(
            {table_name:df}
        )
    return extracted_data

In [119]:
##Test Function
try_extract=extract_data(table_names)
try_extract

C:\Users\istyw\AppData\Local\Temp\ipykernel_18392\406664718.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(f"Select * from {table_name}", con=conn.connection)

{'products':     product_id            product_name  category unit_price cost_price  \
 0           53        Pastry situation    Pastry     $47.00     $43.00
 1           54             Pastry sure    Pastry     $47.00     $43.00
 2           55        Pastry statement    Pastry     $17.00     $14.00
 3           56                Salad on     Salad     $21.00     $20.00
 4           57            Salad really     Salad     $43.00     $40.00
 5           58               Salad bag     Salad      $9.00      $1.00
 6           59         Pastry security    Pastry      $2.00     $-3.00
 7           60           Smoothie lead  Smoothie     $48.00     $45.00
 8           61            Salad people     Salad     $10.00      $6.00
 9           62           Sandwich role  Sandwich     $13.00      $9.00
 10          63             Pastry plan    Pastry     $10.00      $2.00
 11          64               Salad bag     Salad     $37.00     $34.00
 12          65  Sandwich international  Sandwich     $18.00     $11.00
 13          66       Coffee commercial    Coffee     $47.00     $38.00
 14          67        Sandwich society  Sandwich     $37.00     $35.00
 15          68             Smoothie TV  Smoothie     $33.00     $27.00
 16          69           Sandwich room  Sandwich     $41.00     $35.00
 17          70             Salad ahead     Salad     $23.00     $17.00
 18          71              Salad east     Salad     $29.00     $26.00
 19          72            Pastry raise    Pastry     $11.00      $6.00
 20          73              Pastry put    Pastry     $23.00     $20.00
 21          74         Smoothie around  Smoothie     $37.00     $28.00
 22          75              Salad land     Salad     $39.00     $38.00
 23          76            Coffee group    Coffee     $42.00     $36.00
 24          77             Salad truth     Salad     $32.00     $27.00
 25          78       Sandwich although  Sandwich     $19.00     $16.00
 26          79              Tea budget       Tea     $32.00     $29.00
 27          80          Pastry subject    Pastry     $15.00     $12.00
 28          81            Sandwich sit  Sandwich     $35.00     $27.00
 29          82            Pastry small    Pastry     $12.00      $6.00
 30          83            Pastry dream    Pastry     $23.00     $14.00
 31          84          Sandwich begin  Sandwich     $21.00     $14.00
 32          85              Pastry how    Pastry     $34.00     $32.00
 33          86            Pastry glass    Pastry     $44.00     $40.00
 34          87   Coffee administration    Coffee      $7.00     $-3.00
 35          88           Coffee ground    Coffee     $21.00     $16.00
 36          89          Salad American     Salad      $6.00     $-2.00
 37          90          Coffee citizen    Coffee     $20.00     $12.00
 38          91              Salad push     Salad     $10.00      $2.00
 39          92            Sandwich bit  Sandwich     $33.00     $28.00
 40          93             Pastry with    Pastry     $48.00     $44.00
 41          94        Smoothie product  Smoothie     $23.00     $21.00
 42          95              Pastry kid    Pastry     $13.00      $8.00
 43          96        Sandwich foreign  Sandwich      $7.00      $0.00
 44          97    Smoothie participant  Smoothie     $34.00     $24.00
 45          98               Tea often       Tea     $46.00     $37.00
 46          99           Smoothie true  Smoothie     $20.00     $18.00
 47         100             Salad board     Salad     $35.00     $32.00
 48         101             Salad hotel     Salad      $4.00      $1.00
 49         102    Sandwich information  Sandwich     $38.00     $32.00
 50         103          Sandwich about  Sandwich     $19.00     $27.00
 51         104          Smoothie happy  Smoothie     $37.00     $43.00
 52         105             Pastry news    Pastry    $-15.00     $18.00
 53         106           Salad clearly     Salad    $-11.00     $14.00

     in_stock created_at
 0       True 2024-09-21
 1       True 2022-10-20
 2       True 2024-01-17
 3       True 2020-08-27
 4       True 2020-05-08
 5       True 2023-09-25
 6      False 2023-10-01
 7       True 2021-08-06
 8       True 2024-08-29
 9       True 2024-10-20
 10      True 2021-03-18
 11      True 2023-07-22
 12      True 2021-10-19
 13      True 2020-12-04
 14      True 2021-03-20
 15      True 2022-04-29
 16     False 2020-01-14
 17      True 2022-02-04
 18      True 2021-03-30
 19      True 2021-03-03
 20      True 2024-10-26
 21      True 2022-02-27
 22      True 2023-09-01
 23     False 2024-03-23
 24      True 2020-01-26
 25      True 2024-02-10
 26      True 2022-12-11
 27      True 2020-06-12
 28      True 2024-04-19
 29      True 2021-08-28
 30      True 2024-07-20
 31      True 2023-02-10
 32      True 2020-05-31
 33      True 2024-02-23
 34      True 2024-03-15
 35      True 2020-04-30
 36      True 2020-01-03
 37      True 2021-12-05
 38      True 2022-04-03
 39      True 2023-11-11
 40      True 2023-10-03
 41      True 2021-01-02
 42      True 2021-06-24
 43      True 2024-02-20
 44      True 2022-02-22
 45     False 2023-10-12
 46      True 2024-07-05
 47      True 2024-01-28
 48      True 2022-04-15
 49      True 2021-11-20
 50      True 2021-11-20
 51      True 2021-11-20
 52     False 2021-11-20
 53      True 2021-11-20  ,
 'inventory_tracking':      tracking_id  product_id  quantity_change change_date   reason created_at
 0              1          53                3  2024-11-01  Restock 2024-11-01
 1              2          54               10  2024-08-05  Restock 2024-08-05
 2              3          55                6  2023-11-12  Damaged 2023-11-12
 3              4          56                8  2023-05-29  Damaged 2023-05-29
 4              5          57                6  2023-09-22  Restock 2023-09-22
 ..           ...         ...              ...         ...      ...        ...
 157          158         102               10  2023-08-22  Restock 2023-08-22
 158          159         103                2  2023-04-26  Damaged 2023-04-26
 159          160         104                1  2024-08-01  Expired 2024-08-01
 160          161         105                7  2024-04-08  Restock 2024-04-08
 161          162         106                1  2023-02-19  Restock 2023-02-19

 [162 rows x 6 columns],
 'orders':       order_id  employee_id  customer_id          order_date  total_amount  \
 0         1484           29          NaN 2023-12-04 15:41:20         442.0
 1         1798           66        542.0 2024-08-03 10:59:12         344.0
 2         1489           71        571.0 2023-12-13 12:11:13         465.0
 3         1269           71          NaN 2023-07-14 23:06:02         292.0
 4         1989           57        680.0 2024-12-21 10:33:32          35.0
 ...        ...          ...          ...                 ...           ...
 1005      1014           66        618.0 2023-01-09 07:39:36         329.0
 1006      1125           96        599.0 2023-04-11 22:04:23         710.0
 1007      1853           97        492.0 2024-09-10 22:05:01           7.0
 1008      1715           52        531.0 2024-06-09 04:22:49         831.0
 1009      1421           29        639.0 2023-10-16 13:08:57         645.0

      payment_method order_status          created_at
 0              Cash    Completed 2023-12-04 02:28:08
 1              Cash    Completed 2024-08-03 15:33:09
 2       Credit Card    Completed 2023-12-13 08:26:34
 3        Debit Card    Completed 2023-07-14 02:20:42
 4              Cash    Completed 2024-12-21 14:49:27
 ...             ...          ...                 ...
 1005    Credit Card    Completed 2023-01-09 09:07:06
 1006    Credit Card    Completed 2023-04-11 07:44:09
 1007    Credit Card    Completed 2024-09-10 05:25:13
 1008     Debit Card    Completed 2024-06-09 03:47:30
 1009     Debit Card    Completed 2023-10-16 01:29:31

 [1010 rows x 8 columns],
 'customers':      customer_id first_name  last_name                      email  \
 0            492       Paul    Hawkins        bmorris@example.net
 1            493    Jessica  Hendricks   sandramalone@example.com
 2            494  Christian   Shepherd          lreed@example.net
 3            495     Robert      Perry     ninalucero@example.com
 4            496   Courtney     Miller      coxmartin@example.net
 ..           ...        ...        ...                        ...
 199          691     Joseph     Torres  kelseyclayton@example.org
 200          692     Angela     Morris       krista81@example.net
 201          693      Eddie     Murphy       denise83@example.net
 202          694   Jennifer       Lara  santostimothy@example.com
 203          695       Lisa      Davis  christopher59@example.net

              phone  loyalty_points          created_at
 0    9958687561434             708 2022-06-13 03:01:06
 1    3378843199040             241 2020-09-08 21:31:15
 2    8814427344096             239 2023-03-27 18:02:37
 3    6819873900353             956 2024-05-20 19:48:10
 4    7185028607446             677 2020-01-05 06:32:44
 ..             ...             ...                 ...
 199  6326268915948             751 2023-08-09 13:28:45
 200           None            -710 2023-08-09 13:48:24
 201           None            -525 2023-08-09 20:00:01
 202           None            -304 2023-08-09 03:19:18
 203           None            -993 2023-08-09 10:33:21

 [204 rows x 7 columns],
 'employees':      employee_id   first_name last_name   hire_date      role  \
 0              1         John    Gordon  2020-07-19   Cashier
 1              2      Gregory     Curry  2023-05-15  Waitress
 2              3        Chris     Allen  2022-11-27  Waitress
 3              4         Ryan  Mitchell  2021-07-06   Cashier
 4              5        Tyler   Wiggins  2021-10-21   Manager
 ..           ...          ...       ...         ...       ...
 98            99      Tiffany      King  2024-11-24    Waiter
 99           100       Amanda   Johnson  2024-06-09   Manager
 100          101        Sarah     Clark  2021-06-25     today
 101          102        James     Huber  2022-04-01     third
 102          103  Christopher  Carrillo  2021-07-09        me

                             email          created_at
 0              john04@example.net 2020-07-19 07:48:20
 1      rachaelfreeman@example.org 2023-05-15 02:28:15
 2            petercox@example.org 2022-11-27 14:52:27
 3         smithsteven@example.net 2021-07-06 06:00:29
 4            vgriffin@example.com 2021-10-21 21:23:43
 ..                            ...                 ...
 98             iburns@example.net 2024-11-24 03:48:06
 99           daniel53@example.net 2024-06-09 01:37:26
 100  johnsonkatherine@example.com 2024-06-09 02:55:19
 101           wvargas@example.org 2024-06-09 05:21:22
 102          taylor32@example.net 2024-06-09 03:15:26

 [103 rows x 7 columns],
 'order_details':       order_detail_id  order_id  product_id  quantity  unit_price  subtotal  \
 0                   1      1001          80         1        15.0      15.0
 1                   2      1001          65         8        18.0     144.0
 2                   3      1002          57         4        43.0     172.0
 3                   4      1002          58         2         9.0      18.0
 4                   5      1002          69         6        41.0     246.0
 ...               ...       ...         ...       ...         ...       ...
 3017             3018      2009          83         8        23.0     184.0
 3018             3019      2009          77         1        32.0      32.0
 3019             3020      2009         100         3        35.0     105.0
 3020             3021      2009          57         3        43.0     129.0
 3021             3022      2010          93         4        48.0     192.0

               created_at
 0    2023-01-03 10:42:46
 1    2023-01-03 10:42:46
 2    2023-01-03 15:25:52
 3    2023-01-03 15:25:52
 4    2023-01-03 15:25:52
 ...                  ...
 3017 2024-12-29 23:31:58
 3018 2024-12-29 23:31:58
 3019 2024-12-29 23:31:58
 3020 2024-12-29 23:31:58
 3021 2024-12-30 17:39:49

 [3022 rows x 7 columns]}

In [120]:
inventory_tracking=try_extract.get('inventory_tracking')
inventory_tracking

     tracking_id  product_id  quantity_change change_date   reason created_at
0              1          53                3  2024-11-01  Restock 2024-11-01
1              2          54               10  2024-08-05  Restock 2024-08-05
2              3          55                6  2023-11-12  Damaged 2023-11-12
3              4          56                8  2023-05-29  Damaged 2023-05-29
4              5          57                6  2023-09-22  Restock 2023-09-22
..           ...         ...              ...         ...      ...        ...
157          158         102               10  2023-08-22  Restock 2023-08-22
158          159         103                2  2023-04-26  Damaged 2023-04-26
159          160         104                1  2024-08-01  Expired 2024-08-01
160          161         105                7  2024-04-08  Restock 2024-04-08
161          162         106                1  2023-02-19  Restock 2023-02-19

[162 rows x 6 columns]

# Data profiling : Get Data Shape

In [17]:
def data_shape(data: dict):
    dict_shape={}
    for key, val in data.items():
        dict_shape.update({key:val.shape})
    return dict_shape

In [121]:
##Try Function
shape=data_shape(extracted_data)
shape

{'products': (54, 7),
 'inventory_tracking': (162, 6),
 'orders': (1010, 8),
 'customers': (204, 7),
 'employees': (103, 7),
 'order_details': (3022, 7)}

# Data profiling: Check Data Types

In [122]:
def data_type(data):
    data_type={}
    for key, val in data.items():
        data_type.update(
            {key:val.dtypes.astype(str).to_dict()}
        )
    return data_type

In [123]:
data_type=data_type(extracted_data)
print(json.dumps(data_type, indent=2))

{
  "products": {
    "product_id": "int64",
    "product_name": "object",
    "category": "object",
    "unit_price": "object",
    "cost_price": "object",
    "in_stock": "bool",
    "created_at": "datetime64[ns]"
  },
  "inventory_tracking": {
    "tracking_id": "int64",
    "product_id": "int64",
    "quantity_change": "int64",
    "change_date": "datetime64[ns]",
    "reason": "object",
    "created_at": "datetime64[ns]"
  },
  "orders": {
    "order_id": "int64",
    "employee_id": "int64",
    "customer_id": "float64",
    "order_date": "datetime64[ns]",
    "total_amount": "float64",
    "payment_method": "object",
    "order_status": "object",
    "created_at": "datetime64[ns]"
  },
  "customers": {
    "customer_id": "int64",
    "first_name": "object",
    "last_name": "object",
    "email": "object",
    "phone": "object",
    "loyalty_points": "int64",
    "created_at": "datetime64[ns]"
  },
  "employees": {
    "employee_id": "int64",
    "first_name": "object",
    "last_name": "object",
    "hire_date": "object",
    "role": "object",
    "email": "object",
    "created_at": "datetime64[ns]"
  },
  "order_details": {
    "order_detail_id": "int64",
    "order_id": "int64",
    "product_id": "int64",
    "quantity": "int64",
    "unit_price": "float64",
    "subtotal": "float64",
    "created_at": "datetime64[ns]"
  }
}

# Data profiling: Unique Value

In [124]:
def unique_value(data):
    unique_value={}
    check={'employees':'role','orders':'payment_method','products':'category','inventory_tracking':'reason'}
    for key, val in data.items():
        try:
            collumn=check.get(key)
            unique_value.update(
                {key:{collumn:list(val[collumn].unique())
                }}
            )
        except:
            pass
    return unique_value

In [125]:
print(json.dumps(unique_value(extracted_data),indent=3))

{
   "products": {
      "category": [
         "Pastry",
         "Salad",
         "Smoothie",
         "Sandwich",
         "Coffee",
         "Tea"
      ]
   },
   "inventory_tracking": {
      "reason": [
         "Restock",
         "Damaged",
         "Expired",
         "ERROR"
      ]
   },
   "orders": {
      "payment_method": [
         "Cash",
         "Credit Card",
         "Debit Card",
         "ERROR"
      ]
   },
   "employees": {
      "role": [
         "Cashier",
         "Waitress",
         "Manager",
         "Waiter",
         "Barista",
         "today",
         "third",
         "me"
      ]
   }
}

# Data Profiling: Data Shape, Data Types, Unique Value

In [126]:
def data_profiling(url,filename):
    engine=create_engine(url, future=True)
    conn=engine.connect()
    meta = MetaData()
    meta.reflect(bind=engine)
    table_names=list(meta.tables.keys())
    result={}
    for table_name in table_names:
        result_loop={}
        df=pd.read_sql_query(f"Select * from {table_name}", con=conn.connection)
        result_loop.update({"shape":df.shape})
        result_loop.update({"data_types":df.dtypes.astype(str).to_dict()})
        check={'employees':'role','orders':'payment_method','products':'category','inventory_tracking':'reason'}
        try:
            collumn=check.get(table_name)
            result_loop.update({"unique_values":{collumn:list(df[collumn].unique())}})
        except:
            pass
        result.update({table_name:result_loop})
    final_result={'person_in_charge': 'isty', 'date_profiling': str(datetime.now()),'result':result}
    with open(f"output/{filename}.json", "w") as f: 
        f.write(json.dumps(final_result, indent = 4))
    return final_result

In [127]:
print(json.dumps(data_profiling(url,'data_profiling'), indent=4))

{
    "person_in_charge": "isty",
    "date_profiling": "2025-02-15 18:06:12.621918",
    "result": {
        "products": {
            "shape": [
                54,
                7
            ],
            "data_types": {
                "product_id": "int64",
                "product_name": "object",
                "category": "object",
                "unit_price": "object",
                "cost_price": "object",
                "in_stock": "bool",
                "created_at": "datetime64[ns]"
            },
            "unique_values": {
                "category": [
                    "Pastry",
                    "Salad",
                    "Smoothie",
                    "Sandwich",
                    "Coffee",
                    "Tea"
                ]
            }
        },
        "inventory_tracking": {
            "shape": [
                162,
                6
            ],
            "data_types": {
                "tracking_id": "int64",
                "product_id": "int64",
                "quantity_change": "int64",
                "change_date": "datetime64[ns]",
                "reason": "object",
                "created_at": "datetime64[ns]"
            },
            "unique_values": {
                "reason": [
                    "Restock",
                    "Damaged",
                    "Expired",
                    "ERROR"
                ]
            }
        },
        "orders": {
            "shape": [
                1010,
                8
            ],
            "data_types": {
                "order_id": "int64",
                "employee_id": "int64",
                "customer_id": "float64",
                "order_date": "datetime64[ns]",
                "total_amount": "float64",
                "payment_method": "object",
                "order_status": "object",
                "created_at": "datetime64[ns]"
            },
            "unique_values": {
                "payment_method": [
                    "Cash",
                    "Credit Card",
                    "Debit Card",
                    "ERROR"
                ]
            }
        },
        "customers": {
            "shape": [
                204,
                7
            ],
            "data_types": {
                "customer_id": "int64",
                "first_name": "object",
                "last_name": "object",
                "email": "object",
                "phone": "object",
                "loyalty_points": "int64",
                "created_at": "datetime64[ns]"
            }
        },
        "employees": {
            "shape": [
                103,
                7
            ],
            "data_types": {
                "employee_id": "int64",
                "first_name": "object",
                "last_name": "object",
                "hire_date": "object",
                "role": "object",
                "email": "object",
                "created_at": "datetime64[ns]"
            },
            "unique_values": {
                "role": [
                    "Cashier",
                    "Waitress",
                    "Manager",
                    "Waiter",
                    "Barista",
                    "today",
                    "third",
                    "me"
                ]
            }
        },
        "order_details": {
            "shape": [
                3022,
                7
            ],
            "data_types": {
                "order_detail_id": "int64",
                "order_id": "int64",
                "product_id": "int64",
                "quantity": "int64",
                "unit_price": "float64",
                "subtotal": "float64",
                "created_at": "datetime64[ns]"
            }
        }
    }
}

C:\Users\istyw\AppData\Local\Temp\ipykernel_18392\3649935068.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(f"Select * from {table_name}", con=conn.connection)
C:\Users\istyw\AppData\Local\Temp\ipykernel_18392\3649935068.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(f"Select * from {table_name}", con=conn.connection)
C:\Users\istyw\AppData\Local\Temp\ipykernel_18392\3649935068.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(f"Select * from {table_name}", con=conn.connection)
C:\Users\istyw\AppData\Local\Temp\ipykernel_18392\3649935068.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(f"Select * from {table_name}", con=conn.connection)
C:\Users\istyw\AppData\Local\Temp\ipykernel_18392\3649935068.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(f"Select * from {table_name}", con=conn.connection)
C:\Users\istyw\AppData\Local\Temp\ipykernel_18392\3649935068.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(f"Select * from {table_name}", con=conn.connection)

# DATAQUALITY: Check Missing Value

In [128]:
def check_missing_value(url):
    engine=create_engine(url, future=True)
    conn=engine.connect()
    meta = MetaData()
    meta.reflect(bind=engine)
    table_names=list(meta.tables.keys())
    result={}
    for table_name in table_names:
        df=pd.read_sql_query(f"Select * from {table_name}", con=conn.connection)
        result_loop={}
        for column in df.columns:
            percentage=round(df[column].isnull().sum()/len(df[column]),2)
            result_loop.update({column: percentage})
        result.update({table_name:result_loop})
    
    return (result)

In [129]:
print(json.dumps(check_missing_value(url), indent=4))

{
    "products": {
        "product_id": 0.0,
        "product_name": 0.0,
        "category": 0.0,
        "unit_price": 0.0,
        "cost_price": 0.0,
        "in_stock": 0.0,
        "created_at": 0.0
    },
    "inventory_tracking": {
        "tracking_id": 0.0,
        "product_id": 0.0,
        "quantity_change": 0.0,
        "change_date": 0.0,
        "reason": 0.0,
        "created_at": 0.0
    },
    "orders": {
        "order_id": 0.0,
        "employee_id": 0.0,
        "customer_id": 0.25,
        "order_date": 0.0,
        "total_amount": 0.0,
        "payment_method": 0.0,
        "order_status": 0.0,
        "created_at": 0.0
    },
    "customers": {
        "customer_id": 0.0,
        "first_name": 0.0,
        "last_name": 0.0,
        "email": 0.0,
        "phone": 0.02,
        "loyalty_points": 0.0,
        "created_at": 0.0
    },
    "employees": {
        "employee_id": 0.0,
        "first_name": 0.0,
        "last_name": 0.0,
        "hire_date": 0.0,
        "role": 0.0,
        "email": 0.0,
        "created_at": 0.0
    },
    "order_details": {
        "order_detail_id": 0.0,
        "order_id": 0.0,
        "product_id": 0.0,
        "quantity": 0.0,
        "unit_price": 0.0,
        "subtotal": 0.0,
        "created_at": 0.0
    }
}

C:\Users\istyw\AppData\Local\Temp\ipykernel_18392\2632049044.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(f"Select * from {table_name}", con=conn.connection)

# DATA QUALITY: Date Validation

In [130]:
def date_validation(url):
    engine=create_engine(url, future=True)
    conn=engine.connect()
    meta = MetaData()
    meta.reflect(bind=engine)
    pattern_yyyy_mm_dd=r'\d{4}\-(0[1-9]|1[012])\-(0[1-9]|[12][0-9]|3[01])$'
    pattern_yyyy_mm_dd_hh_mm_ss=r'^(\d{4})\-(0?[1-9]|1[012])\-(0?[1-9]|[12][0-9]|3[01]) ([0-1][0-9]|[2][0-3]):([0-5][0-9]):([0-5][0-9])$'

        
    table_check={'employees':['hire_date',pattern_yyyy_mm_dd] ,'inventory_tracking':['change_date',pattern_yyyy_mm_dd], 'orders':['order_date',pattern_yyyy_mm_dd_hh_mm_ss] }
    
    result={}
    for key,val in table_check.items():
        df=pd.read_sql_query(f"Select * from {key}", con=conn.connection)

        for i in range(len(df)):
            date_val=True        
            if re.match(val[1], str(df[val[0]][i])):
                pass
            else:
                date_val=False
                break
        result.update({key:{val[0]:date_val}})
    return result

In [131]:
date_validation(url)

C:\Users\istyw\AppData\Local\Temp\ipykernel_18392\4203596208.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(f"Select * from {key}", con=conn.connection)

{'employees': {'hire_date': True},
 'inventory_tracking': {'change_date': False},
 'orders': {'order_date': True}}

# DATA QUALITY: Numeric Validation

In [42]:
def num_validation(url):
    engine=create_engine(url, future=True)
    conn=engine.connect()
    meta = MetaData()
    meta.reflect(bind=engine)

        
    table_check={
        'products':[ 'unit_price', 'cost_price'],
        'orders': ['total_amount'],
        'order_details': ['unit_price', 'quantity', 'subtotal'],
        'inventory_tracking':[ 'quantity_change'],
        'customers': ['loyalty_points']
    }
    result={}
    for key,val in table_check.items():
        df=pd.read_sql_query(f"Select * from {key}", con=conn.connection)
        result_loop={}
        for column in val:

            if str(df[column].dtypes)=='int64' or str(df[column].dtypes)=='float64':
                result_loop.update({column:True})
            else:
                result_loop.update({column:False})
        result.update({key:result_loop})
    return result

In [46]:
print(json.dumps(num_validation(url),indent=2))

{
  "products": {
    "unit_price": false,
    "cost_price": false
  },
  "orders": {
    "total_amount": true
  },
  "order_details": {
    "unit_price": true,
    "quantity": true,
    "subtotal": true
  },
  "inventory_tracking": {
    "quantity_change": true
  },
  "customers": {
    "loyalty_points": true
  }
}

C:\Users\istyw\AppData\Local\Temp\ipykernel_18392\3499322884.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(f"Select * from {key}", con=conn.connection)

# DATA QUALITY: Negative Validation

In [136]:
def negative_validation(url):
    engine=create_engine(url, future=True)
    conn=engine.connect()
    meta = MetaData()
    meta.reflect(bind=engine)
# DATA QUALITY: Num Validation
        
    table_check={
        'products':[ 'unit_price', 'cost_price'],
        'orders': ['total_amount'],
        'order_details': ['unit_price', 'quantity', 'subtotal'],
        'inventory_tracking':[ 'quantity_change'],
        'customers': ['loyalty_points']
    }
    result={}
    for key,val in table_check.items():
        df=pd.read_sql_query(f"Select * from {key}", con=conn.connection)
        result_loop={}
        for column in val:
            if str(df[column].dtypes)!='int64' and str(df[column].dtypes)!='float64':
                result_loop.update({column:'Not a Numeric'})
            else:
                for i in range(len(df)):
                    neg_val=False
                    df[column][i]
                    if df[column][i]<0:
                        neg_val=True
                        break
                result_loop.update({column:neg_val})
        result.update({key:result_loop})
    return result

In [137]:
print(json.dumps(negative_validation(url),indent=2))

C:\Users\istyw\AppData\Local\Temp\ipykernel_18392\4034635704.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(f"Select * from {key}", con=conn.connection)

{
  "products": {
    "unit_price": "Not a Numeric",
    "cost_price": "Not a Numeric"
  },
  "orders": {
    "total_amount": false
  },
  "order_details": {
    "unit_price": false,
    "quantity": false,
    "subtotal": false
  },
  "inventory_tracking": {
    "quantity_change": false
  },
  "customers": {
    "loyalty_points": true
  }
}

# DATA QUALITY: ALL

In [138]:
def data_quality(url,filename):
    missing_value=check_missing_value(url)
    date_val=date_validation(url)
    num_val=num_validation(url)
    neg_val=negative_validation(url)
    result={}
    for key,value in missing_value.items():
        #Insert Missing Value Validation
        semi_result={'missing_value':value}
        #Insert DateValidation
        for key_mv,value_mv in date_val.items():
            if key==key_mv:
                semi_result.update({'date_val':value_mv})  
        #Insert NumValidation
        for key_nv,value_nv in num_val.items():
            if key==key_nv:
                semi_result.update({'num_val':value_nv})  
        #Insert NegVal
        for key_neg_v,value_neg_v in neg_val.items():
            if key==key_neg_v:
                semi_result.update({'neg_val':value_neg_v})  
                
                
                
        result.update({key:semi_result})
        
    #aa={'missing_value':missing_value,'date_val':date_val,'num_val':num_val,'neg_val':neg_val}
    #for 
    
    
    
    #pattern_yyyy_mm_dd=r'\d{4}\-(0[1-9]|1[012])\-(0[1-9]|[12][0-9]|3[01])$'
    #pattern_yyyy_mm_dd_hh_mm_ss=r'^(\d{4})\-(0?[1-9]|1[012])\-(0?[1-9]|[12][0-9]|3[01]) ([0-1][0-9]|[2][0-3]):([0-5][0-9]):([0-5][0-9])$'      
    #date_check={'employees':['hire_date',pattern_yyyy_mm_dd] ,'inventory_tracking':['change_date',pattern_yyyy_mm_dd], 'orders':['order_date',pattern_yyyy_mm_dd_hh_mm_ss] }
    
            
            
            
            
            
            
    final_result={'person_in_charge': 'isty', 'date_quality': str(datetime.now()),'result':result}
    with open(f"output/{filename}.json", "w") as f: 
        f.write(json.dumps(final_result, indent = 4))
    return final_result

In [139]:
print(json.dumps(data_quality(url,'data_quality'),indent=4))

C:\Users\istyw\AppData\Local\Temp\ipykernel_18392\2632049044.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(f"Select * from {table_name}", con=conn.connection)
C:\Users\istyw\AppData\Local\Temp\ipykernel_18392\4203596208.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(f"Select * from {key}", con=conn.connection)
C:\Users\istyw\AppData\Local\Temp\ipykernel_18392\3499322884.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(f"Select * from {key}", con=conn.connection)

{
    "person_in_charge": "isty",
    "date_quality": "2025-02-15 18:10:22.606942",
    "result": {
        "products": {
            "missing_value": {
                "product_id": 0.0,
                "product_name": 0.0,
                "category": 0.0,
                "unit_price": 0.0,
                "cost_price": 0.0,
                "in_stock": 0.0,
                "created_at": 0.0
            },
            "num_val": {
                "unit_price": false,
                "cost_price": false
            },
            "neg_val": {
                "unit_price": "Not a Numeric",
                "cost_price": "Not a Numeric"
            }
        },
        "inventory_tracking": {
            "missing_value": {
                "tracking_id": 0.0,
                "product_id": 0.0,
                "quantity_change": 0.0,
                "change_date": 0.0,
                "reason": 0.0,
                "created_at": 0.0
            },
            "date_val": {
                "change_date": false
            },
            "num_val": {
                "quantity_change": true
            },
            "neg_val": {
                "quantity_change": false
            }
        },
        "orders": {
            "missing_value": {
                "order_id": 0.0,
                "employee_id": 0.0,
                "customer_id": 0.25,
                "order_date": 0.0,
                "total_amount": 0.0,
                "payment_method": 0.0,
                "order_status": 0.0,
                "created_at": 0.0
            },
            "date_val": {
                "order_date": true
            },
            "num_val": {
                "total_amount": true
            },
            "neg_val": {
                "total_amount": false
            }
        },
        "customers": {
            "missing_value": {
                "customer_id": 0.0,
                "first_name": 0.0,
                "last_name": 0.0,
                "email": 0.0,
                "phone": 0.02,
                "loyalty_points": 0.0,
                "created_at": 0.0
            },
            "num_val": {
                "loyalty_points": true
            },
            "neg_val": {
                "loyalty_points": true
            }
        },
        "employees": {
            "missing_value": {
                "employee_id": 0.0,
                "first_name": 0.0,
                "last_name": 0.0,
                "hire_date": 0.0,
                "role": 0.0,
                "email": 0.0,
                "created_at": 0.0
            },
            "date_val": {
                "hire_date": true
            }
        },
        "order_details": {
            "missing_value": {
                "order_detail_id": 0.0,
                "order_id": 0.0,
                "product_id": 0.0,
                "quantity": 0.0,
                "unit_price": 0.0,
                "subtotal": 0.0,
                "created_at": 0.0
            },
            "num_val": {
                "unit_price": true,
                "quantity": true,
                "subtotal": true
            },
            "neg_val": {
                "unit_price": false,
                "quantity": false,
                "subtotal": false
            }
        }
    }
}

In [ ]:
[key for key,value in date_check.items()]