In [1]:
import pyspark
from importlib import reload

from pyspark.sql import SparkSession
import os
import pandas as pd
import sys
sys.path.insert(0, '/home/jovyan/work')
from script.helper.db_conn import db_connection
from datetime import datetime
from datetime import timezone

from script.helper.conn_prop import connection_properties
from script.helper.init_spark import initiate_spark
from script.etl.extract import *
from script.etl.load import *
import pandas as pd
from pyspark.sql.functions import to_timestamp
from pyspark.sql.functions import to_date

In [2]:

people=extract_csv('../data/people.csv')

===== Start Extracting ../data/people.csv data =====
===== Success Extracting ../data/people.csv data =====

In [3]:
relationships=extract_csv('../data/relationship.csv')

===== Start Extracting ../data/relationship.csv data =====
====== Failed to Extract Data ../data/relationship.csv ======,
 [PATH_NOT_FOUND] Path does not exist: file:/home/jovyan/work/data/relationship.csv.

In [4]:
relationships=extract_csv('../data/relationships.csv')

===== Start Extracting ../data/relationships.csv data =====
===== Success Extracting ../data/relationships.csv data =====

In [5]:
table_names=["acquisition","company","funds","investments","ipos","funding_rounds"]
for name in table_names:
    globals()[f'{name}']=extract_db_src(name)

===== Start Extracting acquisition data =====
===== Success Extracting acquisition data =====
===== Start Extracting company data =====
===== Success Extracting company data =====
===== Start Extracting funds data =====
===== Success Extracting funds data =====
===== Start Extracting investments data =====
===== Success Extracting investments data =====
===== Start Extracting ipos data =====
===== Success Extracting ipos data =====
===== Start Extracting funding_rounds data =====
===== Success Extracting funding_rounds data =====

In [19]:
relationships.show()

+---------------+----------------+----------------------+----------+----------+-------+--------+--------------------+-------------------+-------------------+
|relationship_id|person_object_id|relationship_object_id|  start_at|    end_at|is_past|sequence|               title|         created_at|         updated_at|
+---------------+----------------+----------------------+----------+----------+-------+--------+--------------------+-------------------+-------------------+
|              1|             p:2|                   c:1|      NULL|      NULL|  false|       8|Co-Founder/CEO/Bo...|2007-01-25 07:03:54|2013-01-03 09:58:46|
|              2|             p:3|                   c:1|      NULL|      NULL|  false|  279242|        VP Marketing|2007-01-25 07:04:16|2010-01-21 16:31:34|
|              3|             p:4|                   c:3|      NULL|      NULL|  false|       4|          Evangelist|2007-01-25 19:33:03|2013-01-29 13:36:58|
|              4|             p:5|                   c:3|2006-01-01|2009-01-01|  false|       4|Senior Director S...|2007-01-25 19:34:53|2013-01-29 10:25:34|
|              6|             p:7|                   c:4|2005-01-01|2010-01-05|  false|       1|Chief Executive O...|2007-01-25 20:05:33|2010-01-05 18:41:41|
|              7|             p:8|                   c:4|      NULL|      NULL|  false|       1|Senior Software E...|2007-01-25 20:06:45|2010-01-12 01:13:29|
|              8|             p:9|                   c:4|      NULL|      NULL|  false|       1|Systems Engineeri...|2007-01-25 20:07:50|2010-01-03 22:00:58|
|              9|            p:10|                   c:5|      NULL|      NULL|  false|       1|Founder and CEO, ...|2007-01-25 21:51:46|2010-01-25 21:49:44|
|             10|            p:11|                   c:5|      NULL|      NULL|  false|       1|          Co-Founder|2007-01-25 22:15:05|2011-01-11 23:48:45|
|             11|            p:12|                   c:5|      NULL|      NULL|  false|       3|Chief Revenue Off...|2007-01-25 22:15:59|2010-01-25 21:49:45|
|             12|            p:13|                   c:5|      NULL|      NULL|  false|       1|VP of Product Man...|2007-01-25 22:16:59|2010-01-25 21:49:45|
|             13|            p:14|                   c:5|1993-01-04|1982-01-28|  false|       1|          Co-founder|2007-01-25 22:17:27|2010-01-01 18:15:45|
|             14|            p:16|                c:7299|      NULL|      NULL|  false|       2|     Founder and CEO|2007-01-26 12:44:52|2011-01-19 00:05:01|
|             15|            p:17|                c:7299|      NULL|      NULL|  false|       2|  Co-founder and CTO|2007-01-26 12:45:46|2011-01-19 00:05:01|
|             16|            p:18|                c:7299|2005-01-01|2009-01-01|  false|       1|SVP, Technology a...|2007-01-26 12:47:13|2011-01-19 00:05:01|
|             17|            p:19|                c:7299|2006-01-01|2009-01-01|  false|       8|VP, Finance & Adm...|2007-01-26 12:47:49|2011-01-28 03:08:15|
|             18|            p:20|                c:7299|      NULL|      NULL|  false|       1|           VP, Sales|2007-01-26 12:48:20|2011-01-19 00:05:01|
|             19|            p:21|                c:7299|      NULL|      NULL|  false|       1|VP, Customer Service|2007-01-26 12:49:23|2011-01-19 00:05:01|
|             20|            p:22|                c:7299|2005-01-01|2008-01-01|  false|       1|VP, Business Deve...|2007-01-26 12:49:45|2013-01-07 08:51:20|
|             21|            p:23|                c:7299|      NULL|      NULL|  false|       1|     VP, Engineering|2007-01-26 12:50:11|2011-01-19 00:05:02|
+---------------+----------------+----------------------+----------+----------+-------+--------+--------------------+-------------------+-------------------+
only showing top 20 rows

In [20]:
people.show()

+---------+---------+----------+----------+--------------------+--------------------+
|people_id|object_id|first_name| last_name|          birthplace|    affiliation_name|
+---------+---------+----------+----------+--------------------+--------------------+
|        1|      p:2|       Ben|   Elowitz|                NULL|           Blue Nile|
|        2|      p:3|     Kevin|  Flaherty|                NULL|            Wetpaint|
|        3|      p:4|      Raju|   Vegesna|                NULL|                Zoho|
|        4|      p:5|       Ian|     Wenig|                NULL|                Zoho|
|        5|      p:6|     Kevin|      Rose|         Redding, CA|        i/o Ventures|
|        6|      p:7|       Jay|   Adelson|         Detroit, MI|                Digg|
|        7|      p:8|      Owen|     Byrne|                NULL|                Digg|
|        8|      p:9|       Ron|Gorodetzky|                NULL|                Digg|
|        9|     p:10|      Mark|Zuckerberg|                NULL|            Facebook|
|       10|     p:11|    Dustin| Moskovitz|     Gainesville, FL|            Facebook|
|       11|     p:12|      Owen| Van Natta|                NULL|               Asana|
|       12|     p:13|      Matt|    Cohler|                NULL|            LinkedIn|
|       13|     p:14|     Chris|    Hughes|Hickery, North Ca...|General Catalyst ...|
|       14|     p:16|      Alex|     Welch|                NULL|            C7 Group|
|       15|     p:17|    Darren|   Crystal|                NULL|         Photobucket|
|       16|     p:18|   Michael|     Clark|                NULL|   Photobucket (Old)|
|       17|     p:19|      Greg|    Wimmer|                NULL|         Photobucket|
|       18|     p:20|     Peter|    Foster|                NULL|         Photobucket|
|       19|     p:21|   Heather|      Dana|                NULL|         Photobucket|
|       20|     p:22|     Peter|      Pham|                NULL|   Photobucket, Inc.|
+---------+---------+----------+----------+--------------------+--------------------+
only showing top 20 rows

In [7]:
step="Data Staging"
process="Load"

In [8]:
load_stg(people,"people")

===== Get only new data =====
===== Start Extracting people data =====
===== Success Extracting people data =====
===== Already got only New Data  =====
===== Start Loading people new data =====
===== Success Loading people new data =====

In [9]:
people.dtypes

[('people_id', 'string'),
 ('object_id', 'string'),
 ('first_name', 'string'),
 ('last_name', 'string'),
 ('birthplace', 'string'),
 ('affiliation_name', 'string')]

In [10]:
relationships.dtypes

[('relationship_id', 'string'),
 ('person_object_id', 'string'),
 ('relationship_object_id', 'string'),
 ('start_at', 'string'),
 ('end_at', 'string'),
 ('is_past', 'string'),
 ('sequence', 'string'),
 ('title', 'string'),
 ('created_at', 'string'),
 ('updated_at', 'string')]

In [11]:


relationships=relationships.withColumn("start_at",to_date( relationships['start_at'], "yyyy-mm-dd")) 
relationships=relationships.withColumn("end_at",to_date( relationships['end_at'], "yyyy-mm-dd")) 
relationships=relationships.withColumn("created_at",to_timestamp( relationships['created_at'], "yyyy-mm-dd HH:mm:ss")) 
relationships=relationships.withColumn("updated_at",to_timestamp( relationships['updated_at'], "yyyy-mm-dd HH:mm:ss"))

In [12]:
relationships.show()

+---------------+----------------+----------------------+----------+----------+-------+--------+--------------------+-------------------+-------------------+
|relationship_id|person_object_id|relationship_object_id|  start_at|    end_at|is_past|sequence|               title|         created_at|         updated_at|
+---------------+----------------+----------------------+----------+----------+-------+--------+--------------------+-------------------+-------------------+
|              1|             p:2|                   c:1|      NULL|      NULL|  false|       8|Co-Founder/CEO/Bo...|2007-01-25 07:03:54|2013-01-03 09:58:46|
|              2|             p:3|                   c:1|      NULL|      NULL|  false|  279242|        VP Marketing|2007-01-25 07:04:16|2010-01-21 16:31:34|
|              3|             p:4|                   c:3|      NULL|      NULL|  false|       4|          Evangelist|2007-01-25 19:33:03|2013-01-29 13:36:58|
|              4|             p:5|                   c:3|2006-01-01|2009-01-01|  false|       4|Senior Director S...|2007-01-25 19:34:53|2013-01-29 10:25:34|
|              6|             p:7|                   c:4|2005-01-01|2010-01-05|  false|       1|Chief Executive O...|2007-01-25 20:05:33|2010-01-05 18:41:41|
|              7|             p:8|                   c:4|      NULL|      NULL|  false|       1|Senior Software E...|2007-01-25 20:06:45|2010-01-12 01:13:29|
|              8|             p:9|                   c:4|      NULL|      NULL|  false|       1|Systems Engineeri...|2007-01-25 20:07:50|2010-01-03 22:00:58|
|              9|            p:10|                   c:5|      NULL|      NULL|  false|       1|Founder and CEO, ...|2007-01-25 21:51:46|2010-01-25 21:49:44|
|             10|            p:11|                   c:5|      NULL|      NULL|  false|       1|          Co-Founder|2007-01-25 22:15:05|2011-01-11 23:48:45|
|             11|            p:12|                   c:5|      NULL|      NULL|  false|       3|Chief Revenue Off...|2007-01-25 22:15:59|2010-01-25 21:49:45|
|             12|            p:13|                   c:5|      NULL|      NULL|  false|       1|VP of Product Man...|2007-01-25 22:16:59|2010-01-25 21:49:45|
|             13|            p:14|                   c:5|1993-01-04|1982-01-28|  false|       1|          Co-founder|2007-01-25 22:17:27|2010-01-01 18:15:45|
|             14|            p:16|                c:7299|      NULL|      NULL|  false|       2|     Founder and CEO|2007-01-26 12:44:52|2011-01-19 00:05:01|
|             15|            p:17|                c:7299|      NULL|      NULL|  false|       2|  Co-founder and CTO|2007-01-26 12:45:46|2011-01-19 00:05:01|
|             16|            p:18|                c:7299|2005-01-01|2009-01-01|  false|       1|SVP, Technology a...|2007-01-26 12:47:13|2011-01-19 00:05:01|
|             17|            p:19|                c:7299|2006-01-01|2009-01-01|  false|       8|VP, Finance & Adm...|2007-01-26 12:47:49|2011-01-28 03:08:15|
|             18|            p:20|                c:7299|      NULL|      NULL|  false|       1|           VP, Sales|2007-01-26 12:48:20|2011-01-19 00:05:01|
|             19|            p:21|                c:7299|      NULL|      NULL|  false|       1|VP, Customer Service|2007-01-26 12:49:23|2011-01-19 00:05:01|
|             20|            p:22|                c:7299|2005-01-01|2008-01-01|  false|       1|VP, Business Deve...|2007-01-26 12:49:45|2013-01-07 08:51:20|
|             21|            p:23|                c:7299|      NULL|      NULL|  false|       1|     VP, Engineering|2007-01-26 12:50:11|2011-01-19 00:05:02|
+---------------+----------------+----------------------+----------+----------+-------+--------+--------------------+-------------------+-------------------+
only showing top 20 rows

In [13]:
relationships.dtypes

[('relationship_id', 'string'),
 ('person_object_id', 'string'),
 ('relationship_object_id', 'string'),
 ('start_at', 'date'),
 ('end_at', 'date'),
 ('is_past', 'string'),
 ('sequence', 'string'),
 ('title', 'string'),
 ('created_at', 'timestamp'),
 ('updated_at', 'timestamp')]

In [14]:
load_stg(relationships,"relationships")

===== Get only new data =====
===== Start Extracting relationships data =====
===== Success Extracting relationships data =====
===== Already got only New Data  =====
===== Start Loading relationships new data =====
===== Success Loading relationships new data =====

In [15]:
table_names=["acquisition","company","funds","investments","ipos","funding_rounds"]
for name in table_names:
    load_stg(globals()[f'{name}'],name)

===== Get only new data =====
===== Start Extracting acquisition data =====
===== Success Extracting acquisition data =====
===== Already got only New Data  =====
===== Start Loading acquisition new data =====
===== Success Loading acquisition new data =====
===== Get only new data =====
===== Start Extracting company data =====
===== Success Extracting company data =====
===== Already got only New Data  =====
===== Start Loading company new data =====
===== Success Loading company new data =====
===== Get only new data =====
===== Start Extracting funds data =====
===== Success Extracting funds data =====
===== Already got only New Data  =====
===== Start Loading funds new data =====
===== Success Loading funds new data =====
===== Get only new data =====
===== Start Extracting investments data =====
===== Success Extracting investments data =====
===== Already got only New Data  =====
===== Start Loading investments new data =====
===== Success Loading investments new data =====
===== Get only new data =====
===== Start Extracting ipos data =====
===== Success Extracting ipos data =====
===== Already got only New Data  =====
===== Start Loading ipos new data =====
===== Success Loading ipos new data =====
===== Get only new data =====
===== Start Extracting funding_rounds data =====
===== Success Extracting funding_rounds data =====
===== Already got only New Data  =====
===== Start Loading funding_rounds new data =====
===== Success Loading funding_rounds new data =====

# DATA STAGING ETL

## EXTRACT

In [16]:
table_names=["people","relationships","acquisition","company","funds","investments","ipos","funding_rounds"]
for name in table_names:
    globals()[f'stg_{name}']=extract_db_stg(name)

===== Start Extracting people data =====
===== Success Extracting people data =====
===== Start Extracting relationships data =====
===== Success Extracting relationships data =====
===== Start Extracting acquisition data =====
===== Success Extracting acquisition data =====
===== Start Extracting company data =====
===== Success Extracting company data =====
===== Start Extracting funds data =====
===== Success Extracting funds data =====
===== Start Extracting investments data =====
===== Success Extracting investments data =====
===== Start Extracting ipos data =====
===== Success Extracting ipos data =====
===== Start Extracting funding_rounds data =====
===== Success Extracting funding_rounds data =====

In [17]:
for name in table_names:
    print(globals()[f'stg_{name}'].dtypes, '\n')

[('people_id', 'string'), ('object_id', 'string'), ('first_name', 'string'), ('last_name', 'string'), ('birthplace', 'string'), ('affiliation_name', 'string')]

[('relationship_id', 'string'), ('person_object_id', 'string'), ('relationship_object_id', 'string'), ('start_at', 'date'), ('end_at', 'date'), ('is_past', 'string'), ('sequence', 'string'), ('title', 'string'), ('created_at', 'timestamp'), ('updated_at', 'timestamp')]

[('acquisition_id', 'int'), ('acquiring_object_id', 'string'), ('acquired_object_id', 'string'), ('term_code', 'string'), ('price_amount', 'decimal(15,2)'), ('price_currency_code', 'string'), ('acquired_at', 'timestamp'), ('source_url', 'string'), ('source_description', 'string'), ('created_at', 'timestamp'), ('updated_at', 'timestamp')]

[('office_id', 'int'), ('object_id', 'string'), ('description', 'string'), ('region', 'string'), ('address1', 'string'), ('address2', 'string'), ('city', 'string'), ('zip_code', 'string'), ('state_code', 'string'), ('country_code', 'string'), ('latitude', 'decimal(9,6)'), ('longitude', 'decimal(9,6)'), ('created_at', 'timestamp'), ('updated_at', 'timestamp')]

[('fund_id', 'string'), ('object_id', 'string'), ('name', 'string'), ('funded_at', 'date'), ('raised_amount', 'decimal(15,2)'), ('raised_currency_code', 'string'), ('source_url', 'string'), ('source_description', 'string'), ('created_at', 'timestamp'), ('updated_at', 'timestamp')]

[('investment_id', 'int'), ('funding_round_id', 'int'), ('funded_object_id', 'string'), ('investor_object_id', 'string'), ('created_at', 'timestamp'), ('updated_at', 'timestamp')]

[('ipo_id', 'string'), ('object_id', 'string'), ('valuation_amount', 'decimal(15,2)'), ('valuation_currency_code', 'string'), ('raised_amount', 'decimal(15,2)'), ('raised_currency_code', 'string'), ('public_at', 'timestamp'), ('stock_symbol', 'string'), ('source_url', 'string'), ('source_description', 'string'), ('created_at', 'timestamp'), ('updated_at', 'timestamp')]

[('funding_round_id', 'int'), ('object_id', 'string'), ('funded_at', 'date'), ('funding_round_type', 'string'), ('funding_round_code', 'string'), ('raised_amount_usd', 'decimal(15,2)'), ('raised_amount', 'decimal(15,2)'), ('raised_currency_code', 'string'), ('pre_money_valuation_usd', 'decimal(15,2)'), ('pre_money_valuation', 'decimal(15,2)'), ('pre_money_currency_code', 'string'), ('post_money_valuation_usd', 'decimal(15,2)'), ('post_money_valuation', 'decimal(15,2)'), ('post_money_currency_code', 'string'), ('participants', 'string'), ('is_first_round', 'boolean'), ('is_last_round', 'boolean'), ('source_url', 'string'), ('source_description', 'string'), ('created_by', 'string'), ('created_at', 'timestamp'), ('updated_at', 'timestamp')]