In [200]:
import pyspark
from importlib import reload

from pyspark.sql import SparkSession
import os
import pandas as pd
import sys
sys.path.insert(0, '/home/jovyan/work')
from script.helper.db_conn import db_connection
from datetime import datetime
from datetime import timezone

from script.helper.conn_prop import connection_properties
from script.helper.init_spark import initiate_spark
from script.etl.extract import *
from script.etl.load import *
import pandas as pd
from pyspark.sql.functions import to_timestamp
from pyspark.sql.functions import to_date
from pyspark.sql.functions import *

In [201]:

people=extract_csv('../data/people.csv')

===== Start Extracting ../data/people.csv data =====
===== Success Extracting ../data/people.csv data =====

In [202]:
relationships=extract_csv('../data/relationship.csv')

===== Start Extracting ../data/relationship.csv data =====
====== Failed to Extract Data ../data/relationship.csv ======,
 [PATH_NOT_FOUND] Path does not exist: file:/home/jovyan/work/data/relationship.csv.

In [203]:
relationships=extract_csv('../data/relationships.csv')

===== Start Extracting ../data/relationships.csv data =====
===== Success Extracting ../data/relationships.csv data =====

In [204]:
table_names=["acquisition","company","funds","investments","ipos","funding_rounds"]
for name in table_names:
    globals()[f'{name}']=extract_db_src(name)

===== Start Extracting acquisition data =====
===== Success Extracting acquisition data =====
===== Start Extracting company data =====
===== Success Extracting company data =====
===== Start Extracting funds data =====
===== Success Extracting funds data =====
===== Start Extracting investments data =====
===== Success Extracting investments data =====
===== Start Extracting ipos data =====
===== Success Extracting ipos data =====
===== Start Extracting funding_rounds data =====
===== Success Extracting funding_rounds data =====

In [205]:
relationships.show()

+---------------+----------------+----------------------+--------------------+--------------------+-------+--------+--------------------+--------------------+--------------------+
|relationship_id|person_object_id|relationship_object_id|            start_at|              end_at|is_past|sequence|               title|          created_at|          updated_at|
+---------------+----------------+----------------------+--------------------+--------------------+-------+--------+--------------------+--------------------+--------------------+
|              1|             p:2|                   c:1|                NULL|                NULL|  false|       8|Co-Founder/CEO/Bo...|2007-05-25 07:03:...|2013-06-03 09:58:...|
|              2|             p:3|                   c:1|                NULL|                NULL|  false|  279242|        VP Marketing|2007-05-25 07:04:...|2010-05-21 16:31:...|
|              3|             p:4|                   c:3|                NULL|                NULL|  false|       4|          Evangelist|2007-05-25 19:33:...|2013-06-29 13:36:...|
|              4|             p:5|                   c:3|2006-03-01 00:00:...|2009-12-01 00:00:...|  false|       4|Senior Director S...|2007-05-25 19:34:...|2013-06-29 10:25:...|
|              6|             p:7|                   c:4|2005-07-01 00:00:...|2010-04-05 00:00:...|  false|       1|Chief Executive O...|2007-05-25 20:05:...|2010-04-05 18:41:...|
|              7|             p:8|                   c:4|                NULL|                NULL|  false|       1|Senior Software E...|2007-05-25 20:06:...|2010-01-12 01:13:...|
|              8|             p:9|                   c:4|                NULL|                NULL|  false|       1|Systems Engineeri...|2007-05-25 20:07:...|2010-08-03 22:00:...|
|              9|            p:10|                   c:5|                NULL|                NULL|  false|       1|Founder and CEO, ...|2007-05-25 21:51:...|2010-01-25 21:49:...|
|             10|            p:11|                   c:5|                NULL|                NULL|  false|       1|          Co-Founder|2007-05-25 22:15:...|2011-08-11 23:48:...|
|             11|            p:12|                   c:5|                NULL|                NULL|  false|       3|Chief Revenue Off...|2007-05-25 22:15:...|2010-01-25 21:49:...|
|             12|            p:13|                   c:5|                NULL|                NULL|  false|       1|VP of Product Man...|2007-05-25 22:16:...|2010-01-25 21:49:...|
|             13|            p:14|                   c:5|1993-07-04 00:00:...|1982-02-28 00:00:...|  false|       1|          Co-founder|2007-05-25 22:17:...|2010-09-01 18:15:...|
|             14|            p:16|                c:7299|                NULL|                NULL|  false|       2|     Founder and CEO|2007-05-26 12:44:...|2011-07-19 00:05:...|
|             15|            p:17|                c:7299|                NULL|                NULL|  false|       2|  Co-founder and CTO|2007-05-26 12:45:...|2011-07-19 00:05:...|
|             16|            p:18|                c:7299|2005-09-01 00:00:...|2009-10-01 00:00:...|  false|       1|SVP, Technology a...|2007-05-26 12:47:...|2011-07-19 00:05:...|
|             17|            p:19|                c:7299|2006-08-01 00:00:...|2009-08-01 00:00:...|  false|       8|VP, Finance & Adm...|2007-05-26 12:47:...|2011-10-28 03:08:...|
|             18|            p:20|                c:7299|                NULL|                NULL|  false|       1|           VP, Sales|2007-05-26 12:48:...|2011-07-19 00:05:...|
|             19|            p:21|                c:7299|                NULL|                NULL|  false|       1|VP, Customer Service|2007-05-26 12:49:...|2011-07-19 00:05:...|
|             20|            p:22|                c:7299|2005-10-01 00:00:...|2008-03-01 00:00:...|  false|       1|VP, Business Deve...|2007-05-26 12:49:...|2013-08-07 08:51:...|
|             21|            p:23|                c:7299|                NULL|                NULL|  false|       1|     VP, Engineering|2007-05-26 12:50:...|2011-07-19 00:05:...|
+---------------+----------------+----------------------+--------------------+--------------------+-------+--------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [206]:
people.show()

+---------+---------+----------+----------+--------------------+--------------------+
|people_id|object_id|first_name| last_name|          birthplace|    affiliation_name|
+---------+---------+----------+----------+--------------------+--------------------+
|        1|      p:2|       Ben|   Elowitz|                NULL|           Blue Nile|
|        2|      p:3|     Kevin|  Flaherty|                NULL|            Wetpaint|
|        3|      p:4|      Raju|   Vegesna|                NULL|                Zoho|
|        4|      p:5|       Ian|     Wenig|                NULL|                Zoho|
|        5|      p:6|     Kevin|      Rose|         Redding, CA|        i/o Ventures|
|        6|      p:7|       Jay|   Adelson|         Detroit, MI|                Digg|
|        7|      p:8|      Owen|     Byrne|                NULL|                Digg|
|        8|      p:9|       Ron|Gorodetzky|                NULL|                Digg|
|        9|     p:10|      Mark|Zuckerberg|                NULL|            Facebook|
|       10|     p:11|    Dustin| Moskovitz|     Gainesville, FL|            Facebook|
|       11|     p:12|      Owen| Van Natta|                NULL|               Asana|
|       12|     p:13|      Matt|    Cohler|                NULL|            LinkedIn|
|       13|     p:14|     Chris|    Hughes|Hickery, North Ca...|General Catalyst ...|
|       14|     p:16|      Alex|     Welch|                NULL|            C7 Group|
|       15|     p:17|    Darren|   Crystal|                NULL|         Photobucket|
|       16|     p:18|   Michael|     Clark|                NULL|   Photobucket (Old)|
|       17|     p:19|      Greg|    Wimmer|                NULL|         Photobucket|
|       18|     p:20|     Peter|    Foster|                NULL|         Photobucket|
|       19|     p:21|   Heather|      Dana|                NULL|         Photobucket|
|       20|     p:22|     Peter|      Pham|                NULL|   Photobucket, Inc.|
+---------+---------+----------+----------+--------------------+--------------------+
only showing top 20 rows

In [207]:
step="Data Staging"
process="Load"

In [208]:
load_stg(people,"people")

===== Get only new data =====
===== Start Extracting people data =====
===== Success Extracting people data =====
===== Already got only New Data  =====
===== Start Loading people new data =====
===== Success Loading people new data =====

In [209]:
people.dtypes

[('people_id', 'string'),
 ('object_id', 'string'),
 ('first_name', 'string'),
 ('last_name', 'string'),
 ('birthplace', 'string'),
 ('affiliation_name', 'string')]

In [210]:
relationships.dtypes

[('relationship_id', 'string'),
 ('person_object_id', 'string'),
 ('relationship_object_id', 'string'),
 ('start_at', 'string'),
 ('end_at', 'string'),
 ('is_past', 'string'),
 ('sequence', 'string'),
 ('title', 'string'),
 ('created_at', 'string'),
 ('updated_at', 'string')]

In [211]:


relationships=relationships.withColumn("start_at",to_date( relationships['start_at'], "yyyy-mm-dd")) 
relationships=relationships.withColumn("end_at",to_date( relationships['end_at'], "yyyy-mm-dd")) 
relationships=relationships.withColumn("created_at",to_timestamp( relationships['created_at'], "yyyy-mm-dd HH:mm:ss")) 
relationships=relationships.withColumn("updated_at",to_timestamp( relationships['updated_at'], "yyyy-mm-dd HH:mm:ss"))

In [212]:
relationships.show()

+---------------+----------------+----------------------+----------+----------+-------+--------+--------------------+-------------------+-------------------+
|relationship_id|person_object_id|relationship_object_id|  start_at|    end_at|is_past|sequence|               title|         created_at|         updated_at|
+---------------+----------------+----------------------+----------+----------+-------+--------+--------------------+-------------------+-------------------+
|              1|             p:2|                   c:1|      NULL|      NULL|  false|       8|Co-Founder/CEO/Bo...|2007-01-25 07:03:54|2013-01-03 09:58:46|
|              2|             p:3|                   c:1|      NULL|      NULL|  false|  279242|        VP Marketing|2007-01-25 07:04:16|2010-01-21 16:31:34|
|              3|             p:4|                   c:3|      NULL|      NULL|  false|       4|          Evangelist|2007-01-25 19:33:03|2013-01-29 13:36:58|
|              4|             p:5|                   c:3|2006-01-01|2009-01-01|  false|       4|Senior Director S...|2007-01-25 19:34:53|2013-01-29 10:25:34|
|              6|             p:7|                   c:4|2005-01-01|2010-01-05|  false|       1|Chief Executive O...|2007-01-25 20:05:33|2010-01-05 18:41:41|
|              7|             p:8|                   c:4|      NULL|      NULL|  false|       1|Senior Software E...|2007-01-25 20:06:45|2010-01-12 01:13:29|
|              8|             p:9|                   c:4|      NULL|      NULL|  false|       1|Systems Engineeri...|2007-01-25 20:07:50|2010-01-03 22:00:58|
|              9|            p:10|                   c:5|      NULL|      NULL|  false|       1|Founder and CEO, ...|2007-01-25 21:51:46|2010-01-25 21:49:44|
|             10|            p:11|                   c:5|      NULL|      NULL|  false|       1|          Co-Founder|2007-01-25 22:15:05|2011-01-11 23:48:45|
|             11|            p:12|                   c:5|      NULL|      NULL|  false|       3|Chief Revenue Off...|2007-01-25 22:15:59|2010-01-25 21:49:45|
|             12|            p:13|                   c:5|      NULL|      NULL|  false|       1|VP of Product Man...|2007-01-25 22:16:59|2010-01-25 21:49:45|
|             13|            p:14|                   c:5|1993-01-04|1982-01-28|  false|       1|          Co-founder|2007-01-25 22:17:27|2010-01-01 18:15:45|
|             14|            p:16|                c:7299|      NULL|      NULL|  false|       2|     Founder and CEO|2007-01-26 12:44:52|2011-01-19 00:05:01|
|             15|            p:17|                c:7299|      NULL|      NULL|  false|       2|  Co-founder and CTO|2007-01-26 12:45:46|2011-01-19 00:05:01|
|             16|            p:18|                c:7299|2005-01-01|2009-01-01|  false|       1|SVP, Technology a...|2007-01-26 12:47:13|2011-01-19 00:05:01|
|             17|            p:19|                c:7299|2006-01-01|2009-01-01|  false|       8|VP, Finance & Adm...|2007-01-26 12:47:49|2011-01-28 03:08:15|
|             18|            p:20|                c:7299|      NULL|      NULL|  false|       1|           VP, Sales|2007-01-26 12:48:20|2011-01-19 00:05:01|
|             19|            p:21|                c:7299|      NULL|      NULL|  false|       1|VP, Customer Service|2007-01-26 12:49:23|2011-01-19 00:05:01|
|             20|            p:22|                c:7299|2005-01-01|2008-01-01|  false|       1|VP, Business Deve...|2007-01-26 12:49:45|2013-01-07 08:51:20|
|             21|            p:23|                c:7299|      NULL|      NULL|  false|       1|     VP, Engineering|2007-01-26 12:50:11|2011-01-19 00:05:02|
+---------------+----------------+----------------------+----------+----------+-------+--------+--------------------+-------------------+-------------------+
only showing top 20 rows

In [213]:
relationships.dtypes

[('relationship_id', 'string'),
 ('person_object_id', 'string'),
 ('relationship_object_id', 'string'),
 ('start_at', 'date'),
 ('end_at', 'date'),
 ('is_past', 'string'),
 ('sequence', 'string'),
 ('title', 'string'),
 ('created_at', 'timestamp'),
 ('updated_at', 'timestamp')]

In [214]:
load_stg(relationships,"relationships")

===== Get only new data =====
===== Start Extracting relationships data =====
===== Success Extracting relationships data =====
===== Already got only New Data  =====
===== Start Loading relationships new data =====
===== Success Loading relationships new data =====

In [215]:
table_names=["acquisition","company","funds","investments","ipos","funding_rounds"]
for name in table_names:
    load_stg(globals()[f'{name}'],name)

===== Get only new data =====
===== Start Extracting acquisition data =====
===== Success Extracting acquisition data =====
===== Already got only New Data  =====
===== Start Loading acquisition new data =====
===== Success Loading acquisition new data =====
===== Get only new data =====
===== Start Extracting company data =====
===== Success Extracting company data =====
===== Already got only New Data  =====
===== Start Loading company new data =====
===== Success Loading company new data =====
===== Get only new data =====
===== Start Extracting funds data =====
===== Success Extracting funds data =====
===== Already got only New Data  =====
===== Start Loading funds new data =====
===== Success Loading funds new data =====
===== Get only new data =====
===== Start Extracting investments data =====
===== Success Extracting investments data =====
===== Already got only New Data  =====
===== Start Loading investments new data =====
===== Success Loading investments new data =====
===== Get only new data =====
===== Start Extracting ipos data =====
===== Success Extracting ipos data =====
===== Already got only New Data  =====
===== Start Loading ipos new data =====
===== Success Loading ipos new data =====
===== Get only new data =====
===== Start Extracting funding_rounds data =====
===== Success Extracting funding_rounds data =====
===== Already got only New Data  =====
===== Start Loading funding_rounds new data =====
===== Success Loading funding_rounds new data =====

# DATA STAGING ETL

## EXTRACT

In [216]:
table_names=["people","relationships","acquisition","company","funds","investments","ipos","funding_rounds"]
for name in table_names:
    globals()[f'stg_{name}']=extract_db_stg(name)

===== Start Extracting people data =====
===== Success Extracting people data =====
===== Start Extracting relationships data =====
===== Success Extracting relationships data =====
===== Start Extracting acquisition data =====
===== Success Extracting acquisition data =====
===== Start Extracting company data =====
===== Success Extracting company data =====
===== Start Extracting funds data =====
===== Success Extracting funds data =====
===== Start Extracting investments data =====
===== Success Extracting investments data =====
===== Start Extracting ipos data =====
===== Success Extracting ipos data =====
===== Start Extracting funding_rounds data =====
===== Success Extracting funding_rounds data =====

In [217]:
dim_term_code=stg_acquisition.select(stg_acquisition['term_code']).distinct()

In [218]:
load_dwh(dim_term_code,"dim_term_code")

===== Get only new data =====
===== Start Extracting dim_term_code data =====
===== Success Extracting dim_term_code data =====
===== Already got only New Data  =====
===== Start Loading dim_term_code new data =====
===== Success Loading dim_term_code new data =====

In [219]:
stock_symbol=stg_ipos.select(stg_ipos['stock_symbol']).distinct()

In [220]:
load_dwh(stock_symbol,"dim_stock_symbol")

===== Get only new data =====
===== Start Extracting dim_stock_symbol data =====
===== Success Extracting dim_stock_symbol data =====
===== Already got only New Data  =====
===== Start Loading dim_stock_symbol new data =====
===== Success Loading dim_stock_symbol new data =====

In [221]:
RENAME_COLS = {
                "office_id": "company_nk_id"}
dim_company = stg_company.withColumnsRenamed(colsMap = RENAME_COLS)

In [222]:
columns_to_drop = ['created_at', 'updated_at']
dim_company = dim_company.drop(*columns_to_drop)

In [223]:
load_dwh(dim_company,"dim_company")

===== Get only new data =====
===== Start Extracting dim_company data =====
===== Success Extracting dim_company data =====
===== Already got only New Data  =====
===== Start Loading dim_company new data =====
===== Success Loading dim_company new data =====

In [224]:
RENAME_COLS = {
                "people_id": "people_nk_id"}
dim_people = stg_people.withColumnsRenamed(colsMap = RENAME_COLS)
columns_to_drop = ['created_at', 'updated_at']
dim_people = dim_people.drop(*columns_to_drop)

In [225]:
dim_people=dim_people.withColumn("people_nk_id",dim_people ["people_nk_id"].cast("int"))

In [226]:
dim_people.dtypes

[('people_nk_id', 'int'),
 ('object_id', 'string'),
 ('first_name', 'string'),
 ('last_name', 'string'),
 ('birthplace', 'string'),
 ('affiliation_name', 'string')]

In [227]:
load_dwh(dim_people,"dim_people")

===== Get only new data =====
===== Start Extracting dim_people data =====
===== Success Extracting dim_people data =====
===== Already got only New Data  =====
===== Start Loading dim_people new data =====
===== Success Loading dim_people new data =====

In [228]:
dim_people.show()

+------------+---------+----------+------------+------------+----------------+
|people_nk_id|object_id|first_name|   last_name|  birthplace|affiliation_name|
+------------+---------+----------+------------+------------+----------------+
|          67|     p:77|William C.|        Cobb|        NULL|            eBay|
|         106|    p:123|    Daniel|        Graf|        NULL|            Kyte|
|         158|    p:179|      John|         Ham|        NULL|         Ustream|
|         402|    p:454|     James|     Currier|      Boston|       BranchOut|
|         457|    p:512|   Jessica|Stoner Steel|        NULL|   Pandora Media|
|         811|    p:926|   Stephen|       Wolfe|        NULL|        Netsuite|
|        1180|   p:1359|    Trevor|   Griffiths|        NULL|       LiveWorld|
|        1450|   p:1671|       Ben|     Barokas|        NULL|          JumpTV|
|        1789|   p:2073|     Scott|    Brubaker|        NULL|   BrightSpot.tv|
|        1869|   p:2172|  Courtney|     Montpas|        NULL|    Demand Media|
|        2032|   p:2370|      Jeff|     Whitton|        NULL|   SuggestionBox|
|        2053|   p:2394|     Rishi|        Bhat|        NULL|           Styky|
|        2244|   p:2629|      Alan|       Shang|        NULL|         Grouply|
|        2445|   p:2891|      Pete|     Wheelan|        NULL|           Blurb|
|        2544|   p:3023|   Ericson|    de Jesus|        NULL|         Crusher|
|        2876|   p:3497|       Joe|      Hruska|Tonasket, WA|      RescueTime|
|        2879|   p:3501|       Ari|      Rabban|        NULL|       Phone.com|
|        2968|   p:3605|     Peter|  Semmelhack|        NULL|        Bug Labs|
|        3025|   p:3668| Jean-Yves|     Dexmier|        NULL|       LookSmart|
|        3225|   p:3906|      John|      Kelley|        NULL|        Buzzwire|
+------------+---------+----------+------------+------------+----------------+
only showing top 20 rows

In [229]:
dim_time=extract_db_dwh("dim_time",step="Transform",process="Extract DWH for joining")

===== Start Extracting dim_time data =====
===== Success Extracting dim_time data =====

In [230]:
dim_people=extract_db_dwh("dim_people",step="Transform",process="Extract DWH for joining")

===== Start Extracting dim_people data =====
===== Success Extracting dim_people data =====

In [231]:
dim_company=extract_db_dwh("dim_company",step="Transform",process="Extract DWH for joining")

===== Start Extracting dim_company data =====
===== Success Extracting dim_company data =====

In [232]:
dim_date=extract_db_dwh("dim_date",step="Transform",process="Extract DWH for joining")

===== Start Extracting dim_date data =====
===== Success Extracting dim_date data =====

In [233]:
dim_term_code=extract_db_dwh("dim_term_code",step="Transform",process="Extract DWH for joining")

===== Start Extracting dim_term_code data =====
===== Success Extracting dim_term_code data =====

In [234]:
dim_stock_symbol=extract_db_dwh("dim_stock_symbol",step="Transform",process="Extract DWH for joining")

===== Start Extracting dim_stock_symbol data =====
===== Success Extracting dim_stock_symbol data =====

In [235]:
dim_date=dim_date.select(['date_id','date_actual'])
dim_company=dim_company.select(['company_id','object_id'])
dim_people=dim_people.select(['people_id','object_id'])

In [236]:
relationships=stg_relationships.join(dim_date, stg_relationships.start_at == dim_date.date_actual, 'left')

In [237]:
columns_to_drop = ['created_at', 'updated_at','date_actual','start_at']
relationships = relationships.drop(*columns_to_drop)
RENAME_COLS = {
                "date_id": "start_at"}
relationships = relationships.withColumnsRenamed(colsMap = RENAME_COLS)

In [238]:
relationships=relationships.join(dim_date, relationships.end_at == dim_date.date_actual, 'left')

In [239]:
columns_to_drop = ['date_actual','end_at']
relationships = relationships.drop(*columns_to_drop)
RENAME_COLS = {
                "date_id": "end_at"}
relationships = relationships.withColumnsRenamed(colsMap = RENAME_COLS)

In [240]:
relationships=relationships.join(dim_company, relationships.relationship_object_id == dim_company.object_id, 'left')

In [241]:
columns_to_drop = ['relationship_object_id','object_id']
relationships = relationships.drop(*columns_to_drop)
RENAME_COLS = {
                "company_id": "relationship_object_id"}
relationships = relationships.withColumnsRenamed(colsMap = RENAME_COLS)

In [242]:
relationships=relationships.join(dim_people, relationships.person_object_id == dim_people.object_id, 'left')

In [243]:
columns_to_drop = ['object_id','person_object_id']
relationships = relationships.drop(*columns_to_drop)

In [244]:
RENAME_COLS = {
                "relationship_id": "relationship_nk_id"}
relationships = relationships.withColumnsRenamed(colsMap = RENAME_COLS)

In [245]:
relationships=relationships.withColumn("relationship_nk_id",relationships ["relationship_nk_id"].cast("int"))

In [246]:
relationships=relationships.withColumn("is_past",when(relationships.is_past == "true", True)
                                   .when(relationships.is_past == "false", False))

In [247]:
load_dwh(relationships,"fct_person_relationship")

===== Get only new data =====
===== Start Extracting fct_person_relationship data =====
===== Success Extracting fct_person_relationship data =====
===== Already got only New Data  =====
===== Start Loading fct_person_relationship new data =====
===== Success Loading fct_person_relationship new data =====

In [248]:
funding_rounds=stg_funding_rounds.join(dim_date, stg_funding_rounds.funded_at == dim_date.date_actual, 'left')

In [249]:
columns_to_drop = ['created_at', 'updated_at','date_actual','funded_at']
funding_rounds = funding_rounds.drop(*columns_to_drop)
RENAME_COLS = {
                "date_id": "funded_at"}
funding_rounds = funding_rounds.withColumnsRenamed(colsMap = RENAME_COLS)

In [250]:
funding_rounds=funding_rounds.join(dim_company, funding_rounds.object_id == dim_company.object_id, 'left')

In [251]:
columns_to_drop = ['object_id','object_id']
funding_rounds = funding_rounds.drop(*columns_to_drop)
RENAME_COLS = {
                "company_id": "object_id","funding_round_id":"funding_round_nk_id" }
funding_rounds = funding_rounds.withColumnsRenamed(colsMap = RENAME_COLS)

In [252]:
funding_rounds.dtypes

[('funding_round_nk_id', 'int'),
 ('funding_round_type', 'string'),
 ('funding_round_code', 'string'),
 ('raised_amount_usd', 'decimal(15,2)'),
 ('raised_amount', 'decimal(15,2)'),
 ('raised_currency_code', 'string'),
 ('pre_money_valuation_usd', 'decimal(15,2)'),
 ('pre_money_valuation', 'decimal(15,2)'),
 ('pre_money_currency_code', 'string'),
 ('post_money_valuation_usd', 'decimal(15,2)'),
 ('post_money_valuation', 'decimal(15,2)'),
 ('post_money_currency_code', 'string'),
 ('participants', 'string'),
 ('is_first_round', 'boolean'),
 ('is_last_round', 'boolean'),
 ('source_url', 'string'),
 ('source_description', 'string'),
 ('created_by', 'string'),
 ('funded_at', 'int'),
 ('object_id', 'string')]

In [253]:
funding_rounds=funding_rounds.withColumn("is_first_round",when(funding_rounds.is_first_round == "true", True)
                                   .when(funding_rounds.is_first_round == "false", False))

In [254]:
load_dwh(funding_rounds,"fct_funding_rounds")

===== Get only new data =====
===== Start Extracting fct_funding_rounds data =====
===== Success Extracting fct_funding_rounds data =====
===== Already got only New Data  =====
===== Start Loading fct_funding_rounds new data =====
===== Success Loading fct_funding_rounds new data =====

In [255]:
funds=stg_funds.join(dim_date, stg_funds.funded_at == dim_date.date_actual, 'left')

In [256]:
columns_to_drop = ['created_at', 'updated_at','date_actual','funded_at']
funds = funds.drop(*columns_to_drop)
RENAME_COLS = {
                "date_id": "funded_at", "fund_id":"fund_nk_id" }
funds = funds.withColumnsRenamed(colsMap = RENAME_COLS)

In [257]:
funds.dtypes

[('fund_nk_id', 'string'),
 ('object_id', 'string'),
 ('name', 'string'),
 ('raised_amount', 'decimal(15,2)'),
 ('raised_currency_code', 'string'),
 ('source_url', 'string'),
 ('source_description', 'string'),
 ('funded_at', 'int')]

In [258]:
funds=funds.join(dim_company, funds.object_id == dim_company.object_id, 'left')
columns_to_drop = ['object_id','object_id']
funds = funds.drop(*columns_to_drop)
RENAME_COLS = {
                "company_id": "object_id" }
funds = funds.withColumnsRenamed(colsMap = RENAME_COLS)

In [259]:
load_dwh(funds,"fct_funds")

===== Get only new data =====
===== Start Extracting fct_funds data =====
===== Success Extracting fct_funds data =====
===== Already got only New Data  =====
===== Start Loading fct_funds new data =====
===== Success Loading fct_funds new data =====

In [260]:
acquisition=stg_acquisition.join(dim_company, stg_acquisition.acquiring_object_id == dim_company.object_id, 'left')

In [261]:
columns_to_drop = ['acquiring_object_id','object_id','created_at','updated_at']
acquisition = acquisition.drop(*columns_to_drop)
RENAME_COLS = {
                "company_id": "acquiring_object_id","acquisition_id":"acquisition_nk_id" }
acquisition = acquisition.withColumnsRenamed(colsMap = RENAME_COLS)

In [262]:
acquisition.show()

+-----------------+------------------+--------------+------------+-------------------+-------------------+--------------------+--------------------+--------------------+
|acquisition_nk_id|acquired_object_id|     term_code|price_amount|price_currency_code|        acquired_at|          source_url|  source_description| acquiring_object_id|
+-----------------+------------------+--------------+------------+-------------------+-------------------+--------------------+--------------------+--------------------+
|              148|            c:2108|          cash|        0.00|                USD|2007-08-01 00:00:00|http://www.dating...|Ashley Madison ac...|b92d412a-c416-45e...|
|             1580|           c:26918|              |  7350000.00|                USD|2008-06-09 00:00:00|http://findarticl...|INX Acquires Acce...|c41b35a0-d628-423...|
|             1591|           c:26939|          cash| 18000000.00|                USD|2008-04-16 00:00:00|http://zes.zebra....|Zebra Technologie...|15216dd5-0c49-43e...|
|             2142|           c:30644|              | 80010000.00|                USD|2008-09-01 00:00:00|                    |                    |af0fd7c9-db12-41f...|
|             2659|           c:33685|cash_and_stock|640000000.00|                USD|2009-12-07 00:00:00|http://www.masshi...|Gloucester Pharma...|9c2a0e84-17d7-430...|
|             4900|           c:44436|          cash|        0.00|                USD|2010-10-14 00:00:00|http://www.prnews...|Grainger Announce...|6543d7c1-bae7-421...|
|              833|           c:16257|              |        0.00|                USD|2007-03-02 00:00:00|http://venturebea...|Leadis, panel dis...|24d374d6-31c4-425...|
|             1959|           c:29467|              |        0.00|                USD|2008-09-29 00:00:00|http://www.smartb...|BSA Satellink Ann...|e3e94e50-25da-49f...|
|             3175|           c:16562|              |        0.00|                USD|2010-04-28 00:00:00|http://www.texast...|     Texas TechPulse|c8291465-3ae7-40e...|
|             2122|           c:30551|              |322270000.00|                USD|2008-07-15 00:00:00|                    |                    |f775027b-6e09-4ea...|
|             6654|          c:146951|cash_and_stock|160000000.00|                USD|2012-01-13 00:00:00|http://techcrunch...|Patent Troll Buys...|d71bf89b-07f7-4d2...|
|             5300|           c:71474|          cash|        0.00|                USD|2010-12-01 00:00:00|http://blog.turbo...|     Turbosquid Blog|21f2e94b-5e8f-406...|
|             1238|            c:4369|              |        0.00|                USD|2009-06-23 00:00:00|http://www.techcr...|Posterous Acquire...|722d6346-c69b-4ff...|
|             3997|           c:60153|              |        0.00|                USD|2010-10-26 00:00:00|http://www.equity...|Marlin Equity Par...|102502f8-d328-442...|
|             1342|           c:26070|              |        0.00|                USD|2009-03-16 00:00:00|http://www.busine...|ManTech Completes...|2953c954-a17c-476...|
|             6620|           c:35913|              |        0.00|                USD|2011-07-01 00:00:00|                    |                    |61afe84a-53ee-4cd...|
|             1645|           c:27019|              |        0.00|                USD|2008-05-02 00:00:00|                    |    Cap Index Report|8bc6656e-b9a5-4ac...|
|             4935|           c:65812|              |        0.00|                USD|2011-01-04 00:00:00|http://www.prnews...|Aptilo Networks t...|387cedb4-82a9-4c8...|
|             1829|           c:28850|              |   495000.00|                USD|2008-05-26 00:00:00|                    |                    |d40a87e3-7da7-4d5...|
|             2366|           c:16157|              | 34200000.00|                USD|2009-07-03 00:00:00|                    |                    |ab33dec0-b04f-472...|
+-----------------+------------------+--------------+------------+-------------------+-------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [263]:
acquisition=acquisition.join(dim_company, acquisition.acquired_object_id == dim_company.object_id, 'left')
columns_to_drop = ['acquired_object_id','object_id']
acquisition = acquisition.drop(*columns_to_drop)
RENAME_COLS = {
                "company_id": "acquired_object_id" }
acquisition = acquisition.withColumnsRenamed(colsMap = RENAME_COLS)

In [264]:
acquisition=acquisition.join(dim_term_code, acquisition.term_code == dim_term_code.term_code, 'left')

In [265]:
columns_to_drop = ['term_code','term_code']
acquisition = acquisition.drop(*columns_to_drop)

In [266]:
acquisition=acquisition.withColumn('acquired_at', to_date( acquisition['acquired_at'], "yyyy-MM-dd"))

In [267]:
acquisition=acquisition.join(dim_date, acquisition.acquired_at == dim_date.date_actual, 'left')
columns_to_drop = ['date_actual','acquired_at']
acquisition = acquisition.drop(*columns_to_drop)
RENAME_COLS = {
                "date_id": "acquired_at"}
acquisition = acquisition.withColumnsRenamed(colsMap = RENAME_COLS)

In [268]:
load_dwh(acquisition,"fct_acquisition")

===== Get only new data =====
===== Start Extracting fct_acquisition data =====
===== Success Extracting fct_acquisition data =====
===== Already got only New Data  =====
===== Start Loading fct_acquisition new data =====
===== Success Loading fct_acquisition new data =====

In [269]:
acquisition.dtypes

[('acquisition_nk_id', 'int'),
 ('price_amount', 'decimal(15,2)'),
 ('price_currency_code', 'string'),
 ('source_url', 'string'),
 ('source_description', 'string'),
 ('acquiring_object_id', 'string'),
 ('acquired_object_id', 'string'),
 ('term_code_id', 'string'),
 ('acquired_at', 'int')]

In [270]:
ipos=stg_ipos.join(dim_company, stg_ipos.object_id == dim_company.object_id, 'left')
columns_to_drop = ['object_id','object_id','created_at','updated_at']
ipos = ipos.drop(*columns_to_drop)
RENAME_COLS = {
                "company_id": "object_id", "ipo_id": "ipo_nk_id" }
ipos = ipos.withColumnsRenamed(colsMap = RENAME_COLS)

In [271]:
ipos.dtypes

[('ipo_nk_id', 'string'),
 ('valuation_amount', 'decimal(15,2)'),
 ('valuation_currency_code', 'string'),
 ('raised_amount', 'decimal(15,2)'),
 ('raised_currency_code', 'string'),
 ('public_at', 'timestamp'),
 ('stock_symbol', 'string'),
 ('source_url', 'string'),
 ('source_description', 'string'),
 ('object_id', 'string')]

In [272]:
ipos=ipos.withColumn('public_at', to_date( ipos['public_at'], "yyyy-MM-dd"))
ipos=ipos.join(dim_date, ipos.public_at == dim_date.date_actual, 'left')
columns_to_drop = ['date_actual','public_at']
ipos = ipos.drop(*columns_to_drop)
RENAME_COLS = {
                "date_id": "public_at"}
ipos = ipos.withColumnsRenamed(colsMap = RENAME_COLS)

In [273]:
ipos=ipos.join(dim_stock_symbol, ipos.stock_symbol == dim_stock_symbol.stock_symbol, 'left')
columns_to_drop = ['stock_symbol','stock_symbol']
ipos = ipos.drop(*columns_to_drop)
RENAME_COLS = {
                "stock_symbol_id": "stock_symbol"}
ipos = ipos.withColumnsRenamed(colsMap = RENAME_COLS)

In [274]:
load_dwh(ipos,"fct_ipos")

===== Get only new data =====
===== Start Extracting fct_ipos data =====
===== Success Extracting fct_ipos data =====
===== Already got only New Data  =====
===== Start Loading fct_ipos new data =====
===== Success Loading fct_ipos new data =====

In [275]:
fct_funding_rounds=extract_db_dwh("fct_funding_rounds",step="Transform",process="Extract DWH for joining")
fct_funding_rounds=fct_funding_rounds.select(['funding_round_id','funding_round_nk_id'])
RENAME_COLS = {
                "funding_round_id": "id"}
fct_funding_rounds = fct_funding_rounds.withColumnsRenamed(colsMap = RENAME_COLS)

===== Start Extracting fct_funding_rounds data =====
===== Success Extracting fct_funding_rounds data =====

In [276]:
investments=stg_investments.join(dim_company, stg_investments.funded_object_id == dim_company.object_id, 'left')
columns_to_drop = ['funded_object_id','object_id','created_at','updated_at']
investments = investments.drop(*columns_to_drop)
RENAME_COLS = {
                "company_id": "funded_object_id", "investment_id": "investment_nk_id" }
investments = investments.withColumnsRenamed(colsMap = RENAME_COLS)

In [277]:
investments.dtypes

[('investment_nk_id', 'int'),
 ('funding_round_id', 'int'),
 ('investor_object_id', 'string'),
 ('funded_object_id', 'string')]

In [278]:
investments=investments.join(dim_company, investments.investor_object_id == dim_company.object_id, 'left')
columns_to_drop = ['investor_object_id','object_id']
investments = investments.drop(*columns_to_drop)
RENAME_COLS = {
                "company_id": "investor_object_id"}
investments = investments.withColumnsRenamed(colsMap = RENAME_COLS)

In [279]:
investments=investments.join(fct_funding_rounds, investments.funding_round_id == fct_funding_rounds.funding_round_nk_id, 'left')
columns_to_drop = ['funding_round_nk_id','funding_round_id']
investments = investments.drop(*columns_to_drop)
RENAME_COLS = {
                "id": "funding_round_id"}
investments = investments.withColumnsRenamed(colsMap = RENAME_COLS)

In [280]:
investments.dtypes

[('investment_nk_id', 'int'),
 ('funded_object_id', 'string'),
 ('investor_object_id', 'string'),
 ('funding_round_id', 'string')]

In [281]:
investments.show()

+----------------+--------------------+--------------------+--------------------+
|investment_nk_id|    funded_object_id|  investor_object_id|    funding_round_id|
+----------------+--------------------+--------------------+--------------------+
|            1238|5d51a78d-d084-4bf...|8268c8fb-e632-474...|37f263b0-f2e7-46e...|
|            1591|0a4cde8f-e364-4fa...|9abedcb6-584b-430...|73cffef4-a042-450...|
|            1645|1c308caa-a2d5-436...|9cae9631-ed5c-4f8...|19a65b48-7baf-4df...|
|             471|8dcf84ac-3bfa-419...|6a176809-4f23-4b5...|fb7ed38b-2840-448...|
|             833|a9eae067-cc78-4b2...|e508d028-5fa0-475...|2da7aec5-f475-46c...|
|            3794|e4a4309b-4217-496...|69d890f7-b07f-48b...|46b63dee-c0b7-4d6...|
|            1088|7120166a-ab80-48d...|bb742c4c-a48f-468...|98d31e42-1107-426...|
|            1342|0fb06917-d23a-4bf...|f508dd84-98dd-4f5...|fd4398e5-d72f-4f2...|
|            1829|d09b4b84-bddf-403...|536d8a20-ddd3-469...|1f112418-3717-405...|
|            1959|68321638-1f68-4ce...|be80e70b-1727-41a...|ca48a1fd-baa8-445...|
|            2866|c926aad6-b45a-466...|b7c9c2f3-07a6-417...|92a6a749-2350-4f5...|
|             463|9093fb17-659e-485...|825788d0-d595-44f...|80ee2122-87ce-434...|
|            1580|1cc0cd44-0086-454...|90eab61a-a3e5-480...|7ce04a52-5801-490...|
|            2142|ec8b05fd-eb8b-43c...|13a90768-c727-4c2...|09e72970-219d-419...|
|            2122|5febbbee-f372-427...|cc0ed83a-117d-4af...|65993584-b75f-409...|
|             148|1f572327-2c74-46a...|99929dc3-14c5-4c8...|3dff1281-cd66-47f...|
|            3175|00a79be2-fafb-4bb...|268f0adc-8318-488...|1a9ea812-eaac-42e...|
|            2366|c7508331-63f4-4a2...|4513acbf-2aea-408...|a82c937d-7373-423...|
|             496|5f40b645-a701-43a...|b1b5659a-6dd0-44b...|8fb9efc8-2802-4c5...|
|            3918|7932627d-3615-466...|54bb8895-4e7d-420...|9e1af12f-e6fd-483...|
+----------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [282]:
load_dwh(investments,"fct_investments")

===== Get only new data =====
===== Start Extracting fct_investments data =====
===== Success Extracting fct_investments data =====
===== Already got only New Data  =====
===== Start Loading fct_investments new data =====
===== Success Loading fct_investments new data =====